<div class="container">
  <div class="intro">
    <h3>ZONBERCOIN - 존버하는 당신에게</h3>
    
    <h5>
      코인을 하다보니..
      <strong>업비트</strong>에도....
      <strong>코인네스트</strong>에도... <br>
      만드니 한번에 ..보기가 불편해서 만들어봤습니다!<br>
    </h5>
    <p> <strong> 매수한가격,넣은 금액을 직접 입력하는 방식이기때문에 일주일~이주일 장투하시는분들 사용하세요</p>
    <p> 업비트(krw 다 안넣음), 코인네스트 코인들 사용 가능합니다.</p>
    <p> 간단한 알림 추가 업데이트 할 예정입니다 </p>
    <p> 하루동안 날치기로 만든거라 주말에 시간될때마다 짬짬히 고치겠습니다</p>
    <p> 로그인은 이메일과 비밀번호를 넣지만 그냥 정보저장용이니 아무렇게나 사용하세용</p>

    <h3>주의사항</h3>
    <p>api를 받아오기때문에 서버가 터지면 여기도 터집니다</p>
    <p> 새로고침을 너무 많이 하면 에러나기 때문에 터지면 1분있다 새로고침해주세요</p>

  </div>
  <% unless(user_signed_in?) %>
    <a href="/users/sign_in">로그인하기</a>
    <a href="/users/sign_up">회원가입하기</a>
  <% else %>
    <a href="/mycoins" class="mdl-button mdl-js-button">내 코인 보러가기</a>
    
    <%= link_to('Logout', destroy_user_session_path, method: :delete,class: "mdl-button mdl-js-button") %>        
  <% end %>
  
</div>

<style>
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
</style>