/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    /* 임시 */
    height: 50px;
}

div.container{
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
    padding : 0px;
}

span.left-nav{
    position:absolute;
    font-size:20px;
    color:#777;
    cursor:pointer;
    left:19px;
    top:13px;
  }

@media(min-width:600px){

    span.left-nav{
        position:relative;
        margin-top:9px;
        margin-left:14px;
        top:0px;
        left:0px;
        float:left;
    }
    div.container{
        width: 100%;
        margin: 100px auto;
    }



}